* {
  padding: 0px;
  margin: 0px;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: #000;
}

ul,
ul li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
  background-color: rgb(210, 209, 209);
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}

.header {
  background-color: rgb(184, 181, 181);
  position: fixed;
  top: 0;
  padding: 10px 0;
  width: 100%;
}

.container-nav {
  max-width: 1250px;
  padding: 0 20px;
  margin: 0 auto;
}

.container {
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  color: black;
  font-size: 35px;
}

.navlist {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  font-size: 20px;
  font-weight: 400;
  white-space: nowrap;
}
.navlist a:hover {
  color: #fff;
}
/* ABOUT-ME */

.about-me {
  background-color: #d2d1d1;
  min-height: 100vh;
}
.about-me-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* : 100px; */
  align-items: center;
  padding-top: 200px;
}
.about-me-content-right {
  max-width: 1000px;
}
.about-me-img {
  max-width: 300px;
}

.about-me-title {
  max-width: 1000px;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}
.about-me-p {
  max-width: 700px;
  color: #2f2f2f;
  margin-bottom: 30px;
  font-size: 16px;
}

.about-me-btn {
  display: inline-block;
  background-color: rgb(184, 181, 181);
  padding: 20px 80px;
  font-size: 25px;
  font-weight: 700;
  color: #fff;
}

/* work */
.work {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: #d2d1d1;
  /* background-color: aqua; */
  color: black;
  font-size: 25px;
  min-height: 100vh;
}

.boxwork {
  padding: 120px 0;
}
.work-h2 {
  margin-top: 50px;
  font-size: 18px;
  padding: 6px 0;
  background-color: #b8b5b5;
}
.work-list {
  padding-top: 30px;

  /* list-style: circle; */
}
.list {
  font-size: 16px;
  font-weight: 400;
  color: #2f2f2f;
}
.work-p {
  font-size: 18px;
  max-width: 820px;
  text-align: justify;
  margin: 0 auto;
  padding-top: 60px;
  display: block;
  color: #000;
  font-weight: 400;
}

.work-p2 {
  font-size: 16px;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  padding-top: 40px;
  display: block;
  color: #000;
  font-weight: 400;
}
.photo {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

  /* gap: 50px; */
}

.work-photo {
  /* width: 200px; */
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.gallery-item {
  display: flex;
  flex-basis: 17%;
}

.gallery a {
  display: flex;
}

.gallery img {
  width: 200px;
}

.lg-outer.lg-components-open:not(.lg-zoomed) .lg-sub-html {
  opacity: 1;
  transition: opacity 0.2s ease-out 0.15s;
  color: rgb(0, 0, 0);
  font-size: 36px;
  padding: 10px 40px;
  text-align: center;
  z-index: 1080;
  opacity: 0;
  transition: opacity 0.2s ease-out 0s;
}

/* Portfolio */

.portfolio {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: #d2d1d1;
  color: black;
  min-height: 100vh;
  font-size: 25px;
}

.contacts {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: rgb(184, 181, 181);
  color: black;
  font-size: 25px;
}
.portfolio-h2-2 {
  margin-top: 40px;
  font-size: 16px;
}
.photo-portfolio {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

  /* gap: 50px; */
}
.portfolio-photo {
  width: 200px;
  height: auto;
}
.portfolio-p2 {
  font-size: 16px;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  padding-top: 95px;
  display: block;
  color: #2f2f2f;
  font-weight: 400;
}
.portfolio-link {
  font-weight: 700;
}
.work2 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 15px;
}

.links {
  text-align: center;
  color: black;
  font-weight: 700;
  font-size: 16px;
}
/* Contacts */
.contacts {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: #d2d1d1;
  color: black;
  min-height: 100vh;
  font-size: 25px;
}

.photo-contacts {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 50px;

  /* gap: 50px; */
}

.a-tel {
  display: block;
  margin: 0 auto;
  padding: 15px 70px;
  width: 100px;
  background-color: rgb(184, 181, 181);
}

.img-tel {
  display: block;
  margin: 0 auto;
  padding: 15px 56px;
  width: 130px;
  background-color: rgb(184, 181, 181);
}

.buttontop {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: black;
  font-size: 12px;
}

.block1 {
  display: block;
  padding: 20px;
}

.photo2 {
  text-align: center;
  padding: 0px;
}
